
{% load static %}

	<!-- HOME -->
		<div id="home">
			<!-- container -->
			<div class="container">
				<!-- home wrap -->
				<div class="home-wrap">
					<!-- home slick -->
					<div id="home-slick">
						{% for rs in product_slider %}
						<!-- banner -->
						<div class="banner banner-1">
							{%  if rs.photo %}
							<img src="{{rs.photo.url}}" alt="" style="height: 500px;">
							{% endif %}
							<div class="banner-caption text-center">
								<h1>{{rs.titre}}</h1>
								<h3 class="white-color font-weak">{{rs.price}}€</h3>
								<a href="/order/add-to-shop-cart/{{rs.id}}" class="primary-btn">acheter</a>
							</div>
						</div>
						<!-- /banner -->
						{% endfor %}
					</div>
					<!-- /home slick -->
				</div>
				<!-- /home wrap -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOME -->

		
