{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title> {% block title %} {{setting.titre}} {% endblock %} </title>
		<meta name="keywords" content="{% block keywords %} {{setting.keywords}} {% endblock %} ">
		<meta name="description" content="{% block description %} {{setting.description}} {% endblock %} ">

		<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />

		<!-- <script src=" https://oss.maxcdn.com/htm5shiv/3.7.3/htm5shiv.min.js"></script>
		<script src=" https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->


		<script src=" https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		
      
	</head>

	<body>
		<header>
			{% include 'bases/nav.html' %}
		</header>

		{% block sidebar %} {% endblock%}

		{% block slider %} {% endblock%}

		{% block body %} {% endblock%}

		
		
		<footer>
			{% include 'bases/footer.html' %}
		</footer>

	</body>
</html>