{% extends 'bases/base.html' %}

{% block title %} connection {% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block sidebar %} {% include 'pages/sidebar.html' %} {% endblock  %}

{% block body %} 

     <!-- BREADCRUMB -->
     <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">connection </li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                
					<div class="col-md-6">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert-alert-{{message.tags}}" role="alert" style="color: green; font-style: italic;">
                                    {{message}}
                                </div>
                            {% endfor %}
					    {% endif %}
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Se connecter </h3>
                            </div>
                            <form id="checkout-form" class="clearfix" method="post" action="  ">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input class="input" type="text" name="username" placeholder="Username" required>
                                </div>
                                <div class="form-group">
                                    <input class="input" type="password" name="password" placeholder="Your password" required>
                                </div>
                                
                                    <input  type="submit"  value="Envoyer">
                               
                            </form>
						</div>
                    </div>

                    <div class="col-md-6">
                        <div class="section-title">
                            <h3 class="title">Inscription</h3>
                        </div>
                        {% if messages %}
                            {% for messag in messages %}
                                <div class="alert-alert-{{messag.tags}}" role="alert" style="color: green; font-style: italic;">
                                    {{messag}}
                                </div>
                            {% endfor %}
					    {% endif %}
						<form action="" method="post">
                            {% csrf_token %}

                            <!-- {{ form.as_p}} -->
                            {% for field in form %}
                            <p>
                                {{ field.label_tag }} <br>
                                {{ field }}
                                {% if field.help_text %}
                                <small style="...">{{ field.help_text}}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="...">{{error}}</p>
                                {% endfor %}
                            </p>
                            {% endfor %} 
                            
                            <button type="submit">Singn Up</button>
                        </form>
					</div>
                    
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock  %}