   
   
   <div class="billing-details">
        <div class="section-title">
            <h3 class="title">Mon panier </h3>
        </div>
        <div class="aside">

            <ul class="list-links">
                <li><a href="{% url 'user:moncompte' %}"><i class="fa fa-user-o"></i> My Account</a></li>
                <li><a href="/user/favorites"><i class="fa fa-heart-o"></i> Mes Favories</a></li>
                <li><a href="{% url 'user:orderproduct' %}"><i class="fa fa-exchange"></i> Mes produits commandés</a></li>
                <li><a href="/user/produits"><i class="fa fa-exchange"></i> Mes produits</a></li>
                <li><a href="/user/comments"><i class="fa fa-check"></i> commentaire</a></li>
                <li><a href="/logout"><i class="fa fa-unlock-alt"></i> Logout</a></li>
            </ul>

            
        </div>
        
    </div>
